*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}


a {
  text-decoration:none;
}


ul {
 list-style-type: none;
 background: black;
 display: flex;
 justify-content: flex-end;
 padding: 2rem;
}

li a{
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
}